@media screen and (max-width:1106px){
    .grid-contenedor{
        grid-template-rows: 250px auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
        "QuinesSomosImage"
        "QuinesSomosText"
        "VisionImage"
        "VisionText"
        "MisionsImage" 
        "MisionText"
        "NuestroEquipImage" 
        "NuestroEquipText"
        ;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:850px){
    .flex-contenedor{
        flex-direction: column;
        justify-content: space-between;
    }
}
@media screen and (max-width:1064px){
    .Planes-section{

        article{
            font-size: 20px;
            width: 500px;
            height: 800px;
            margin: 50px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                border: 3px solid black;
                border-radius: 20px;
                margin: 40px 0px 20px 0px;
                padding: 20px;
                width: 50%;
                height: 700px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                width: 50%;
                margin: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}